# Exclude node_modules directories
/wallet-backend/node_modules/
# frontend/node_modules/

# Exclude package-lock.json files
/wallet-backend/package-lock.json
# frontend/package-lock.json

# Exclude environment files
/wallet-backend/.env
# frontend/.env

# Exclude log files
/wallet-backend/*.log
# frontend/*.log